 h1 {
    font-family: Shrikhand;
    margin: 0;
    padding: 0;
}

h2, h3, p {
    font-family: Roboto;
    font-size: 1.7em;
    margin: 0;
    padding: 0;
}

.function-list__text {
    font-family: Roboto;
    font-weight: bold;
}

.footer-bloc__nameLink {
    font-family: Roboto;
}

.card-rest__badge {
    font-family: Roboto;
}

.menu__title {
    font-size: 1.5em;
}