.geo-loc {
    background-color: #eaeaea;
    box-shadow: 0px 3px 3px #73737338 inset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;

    &__icone {
        margin-right: 1em;
    }

    &__city {
        font-size: 1.1em;
        font-weight: 600 ;
    }
}

.container_home-fonct {
    @include desktop {
        display: flex;
    }

    @include tablet {
        display: flex;
    }
}

.home {
    background-color: #f6f6f6;
    padding: 2em;
    text-align: center;

        @include desktop {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        @include tablet {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

    &__title {
        margin-bottom: 0.5em;

            @include desktop {
                font-size: 2.5em;
            }

            @include tablet {
                font-size: 2.2em;            
            }
    }

    &__subtitle {
        font-size: 1.1em;
        margin-bottom: 1em;
        font-weight: lighter;
        color: #4d4d4d;

            @include desktop {
                font-size: 1.8em;
                margin-bottom: 1.8em;
            }

            @include tablet {
                font-size: 1.5em;
            }
    }

    &__button {
        margin-bottom: 1em;

            @include desktop {
                font-size: 1.2em;
            }

            @include tablet {
                font-size: 1em;
            }
    }
}


.function {
    @include desktop {
        width: 50%;
    }

    @include tablet {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.function__title {
    margin-top: 2em;
    margin-bottom: 1em;

        @include desktop {
            font-size: 2.2em;
            margin-top: 1.2em;
            text-align: center;
        }

        @include tablet {
            font-size: 2em;
            text-align: center;
        }
}

.function-list {
    list-style-type: none;
    padding: 0;
    counter-reset: numbStep;
    margin-bottom: 3em;

        @include desktop {
            display: flex;
            flex-direction: column;
            align-items: center;;
        }

        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;;
        }
    

    &__step {
        border-radius: 20px;
        background-color: #f6f6f6;
        padding: 1.7em;
        margin-bottom: 1em;
        box-shadow: 0.2em 0.2em 0.5em #ccc;
        position: relative;

            @include desktop {
                width: 60%;
                margin-bottom: 2.5em;
            }
        
        &--purple {
            background-color: #f5edff;
        }
    

          &::before {
            counter-increment: numbStep 1;
            content: counter(numbStep) " ";
            background: $color-primary;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            position: absolute;
            left: -0.75em;
            }
    }

    &__icone{
        color: #7e7e7e;
        margin-right: 1em;

        &--purple {
            margin-right: 1em;
            color: $color-primary;
        }
    }
}

.restaurants {
    background-color: #f6f6f6;
    margin-top: 4em;

    &__title {
        padding-top: 2em;
        margin-bottom: 1em;

            @include tablet {
                text-align: center;
                font-size: 2em;
                padding-top: 1em;
            }
    }
}

.container-rest {
    @include desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }  

    @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
}

.card-rest {
    background-color: #f6f6f6;
    border-radius: 1em;  
    box-shadow: 1px 1px 10px 1px #ccc;
    position: relative;
    margin-bottom: 1em;
    
    &__image {
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        min-height: 174px;
        max-height: 174px;
    }

    &__badge {
        background-color: $color-tertiary;
        color:  darken($color: $color-tertiary, $amount: 45);
        padding: .5rem;
        position: absolute;
        right: 5%;
        top: 5%;
        border-radius: 5%;
        font-weight: bold;
        }

    &__footer {
        display: flex;
        justify-content: space-between;
    }

    &__infos {
        color: black;
        padding: 0.7em 1em 1em 1em;
    }

    &__name {
        font-weight: bold;
        font-size: 1.2em;
    }

    &__city {
        font-weight: lighter;
        font-size: 1em;
    }  

    &__like {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__heart {
        @include heart-degrad
    }
}

    




    // &:hover::before {
    // }
    // &::before {
    //   transition: 25ms;
    //   content: "";
    //   background:$heart-degrad;
    // }


// .fa-heart {
//     color: #FFF;
//     background-color: #f6f6f6;
//     border-radius: 50%;
//     padding:.2em;
// }
// .fa-heart::before {
//     content: "\f004";
//     font-weight: bold;
//     transition: color 1s ease-out;
// }
// .fa-heart:hover::before{
//     color: red;
//     cursor: pointer;
// }