.head-logo {
    display: flex;
    justify-content: center;
    padding: 1em;
    position: relative;

        &__icone {
            display: flex;
            align-items: center;
            color: black;

            &--arrow {
                position: absolute;
                left: 7%;
                &:hover {
                    transition: ease-out 220ms;
                    color: $color-tertiary;
                }
            }
        }
}


